:root{
    /* color */
    --color-blue: #5865f2;
    --color-black1: #4f545c;
    --color-black2: #68727e;
    --color-green: #3ba55c;
}



a {
    text-decoration: none;
    /* color: var(--color-blue); */
}

.unit-link{
    display: block;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.hide {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
}

.header-container {
    max-width: 1000px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
}

.pc-view-header>a{
    color: var(--color-blue);
}

.pc-view-header>a:hover {
    text-decoration: underline;
}

.mobile-view-header>a{
    color: var(--color-blue);
}

.header-container-text a{
    color: var(--color-blue);
    padding: 10px;
}

.header-container-text a:hover{
    text-decoration: underline;
}

.header-container-text{
    font-size: 14px;
    color: var(--color-blue);
    display: flex;
    align-items: center;
}


.mobile-view-header {
    display: none;
}

.pc-view-header>a {
    padding: 10px;
}

.pc-view-header{
    display: flex;
}

.mobile-view-header>a {
    padding: 10px;
    max-width: 400px;
}

.down-arrow{
    display: flex;
}

.down-arrow::after{
    content: '';
    width: 4px;
    height: 4px;
    border: 1px solid var(--color-black2);
    display: block;
    border-top: none;
    border-left: none;
    rotate: 45deg;
    transform: translateY(5px);
    transform: translateX(5px);
}

#intro{
    background-image: url(../img/b7e9dce75f9edb23504e13b4699e208f204e5015.png) ;
    background-size: cover; 
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* align items 와 justify-content의 차이점 */
    height: 300px;
    width: 100%;
    padding: 64px;
}

.intro-text{
    display: flex;
    font-size: 36px;
    color: white;
    font-weight: bold;
    margin: 0 auto;
    align-content: center;
    justify-content: center;
    margin-bottom: 16px;
}

.search{
 background-color: white;
 width: 1000px;
 max-width: 640px;
 height: 40px;
 border-radius: 50px;
 border: 1px solid #666;
 align-items: center;
 display: flex;
 position: relative;
}

.search-icon{
  position: relative;
  left: 15px;
  width: 20px;
}

input {
    outline: none;
    display: flex;;
    height: 38px;
    border: none;
    background-color: none;
    margin: 15px;

}

#main-container{
   padding-top: 64px;
}



.main-headline{
    font-size: 26px;
    color: var(--color-black1);
    display: flex;
    justify-content: center;
    padding-bottom: 16px;
}

.main-explane{
    font-size: 16px;
    color: var(--color-black2);
    align-items: center;
    padding-bottom: 64px;
    text-align: center;
    line-height: 25px;
}

.main-explane{
    align-items: center;
    justify-items: center;
}

#selecition-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 64px;
}

.main-selection-area {
    width: 260px;
    height: 280px;
    box-sizing: border-box;
    box-shadow: 0 2px 50px #00000010;
    border-radius: 10px;
    margin: 10px 10px;    
}

.main-selection-area:hover{
    transform: translateY(-10px);

}


.selection-area-content{
    width: 240px;
    height: 260;
    box-sizing: border-box;
    
}

.selection-area-name{
    color: var(--color-blue);
    font-size: 22px;
    text-align: center;

}

.selection-area-name::after{
    content: '';
    width: 60px;
    height: 1px;
    background-color: var(--color-black2);
    display: block;
    margin: 20px auto;
}

.selection-explane{
    font-size: 14px;
    color:var(--color-black2);
    display: flex;
    justify-content: center;
    padding-bottom: 16px;
    text-align: center;
    margin: 5px;
}
svg {
    width: 100%;
    height: 100%;
}

.img-area{
    width: 120px;
    margin: 0 auto;
}

.help {
    display: block;
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 22px;
    color: var(--color-black1);
    padding-top: 64px;
}

footer{
   
}

#footer-area{
    background-color: #23272a;;
    background-size: cover; 
   background-position: center center;
}

.more{
    text-align: center;
    padding-top: 64px;
    padding-bottom: 64px;
}


.more-view-box{
    width: 250px;
    height: 42px;
    border-radius: 20px;
    border: none;
    background-color: var(--color-green);
    font-weight: bold;
    font-size: 20px;
    margin: 0 auto;
    position: relative;
}

.more-view-box:hover{
    box-shadow: 0 2px 8px #000500;
}

.more-view-box>a {
    color: white;
    position: absolute;
    top: 10px;
}

.footer-contents {
    background-image: url(../img/c9f23a6ae41ebc0d9c21b08c2158c112fd5847b2.png);
    background-size: contain; 
    /* contain 알아보자 */
   background-position: center center;
   background-repeat:no-repeat;
   width: 814px;
   height: 156px;
   margin: 0 auto;
   display: flex;
   position: relative;
   opacity: 50%;
   
}

.app-browser{
    width: 180px;
    position: absolute;
    top: 50px;
    left: 80px;
}

.app-browser:hover{
    color: white;
    opacity: 100%;
    transition: 0.3s;
}

.app-apple{
    width: 40px;
    opacity: 50%;
    position: absolute;
    top: 60px;
    left: 472px
}

.app-apple:hover{
    color: white;
    opacity: 100%;
    transition: 0.3s;
}

.app-android{
    width: 40px;
    opacity: 50%;
    position: absolute;
    top: 60px;
    left: 380px
}

.app-android:hover{
    color: white;
    opacity: 100%;
    transition: 0.3s;
}

.app-pc{
    width: 50px; 
    position: absolute;
    top: 60px;
    left: 620px;
    opacity: 50%;
}

.app-pc:hover{
    color: white;
    opacity: 100%;
    transition: 0.3s;
}

.app-pc-x{
    width: 50px;
    position: absolute;
    right: 70px;
    top: 60px;
    opacity: 50%;
}

.app-pc-x:hover{
    color: white;
    opacity: 100%;
    transition: 0.3s;
}

.nav{
    width: 690px;
    height: 220px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    padding: 30px 50px;
}

.footer-discord-logo{
    width: 130px;
}

.nav-pack {
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 120px;
}

.nav-pack>a{
    color: #fff;
    opacity: 50%;
}

.nav-pack>a:hover {
    color: white;
    opacity: 100%;
}

.nav-text{
    padding: 10px;
}

.navtext-package {
    display: flex;
}

.i-can-help-you {
    width: 130px;
    height: 45px;
    background-color: var(--color-blue);
    border-radius: 20px;
    position: relative;
}

.footer-help {
   position: absolute;
   color: white;
   
}

@media screen and (max-width:1000px){
    .mobile-view-header{
        display: block;
    }

    .pc-view-header{
        display: none;
    }
}
